---
BasedOnStyle: Google
---

Language:                           Cpp
Standard:                           Latest
ColumnLimit:                        100

AllowAllArgumentsOnNextLine:        false
AllowShortBlocksOnASingleLine:      Empty
AllowShortFunctionsOnASingleLine:   Empty
AllowShortLambdasOnASingleLine:     true

AlignAfterOpenBracket:              Align

BreakConstructorInitializers:       BeforeComma
BreakBeforeBinaryOperators:         All

PenaltyBreakAssignment:             10
SortUsingDeclarations:              false
