---
BasedOnStyle: Google
---
Language: Cpp
Standard: Latest
ColumnLimit: 100

AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty

AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
AlignAfterOpenBracket: Align

BinPackArguments: false
BinPackParameters: false

SortIncludes: Never
SortUsingDeclarations: Never
