---
BasedOnStyle: Google
---
Language: Cpp
Standard: Latest
ColumnLimit: 120

AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: true
AlignConsecutiveShortCaseStatements:
  Enabled: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

BinPackArguments: false
BinPackParameters: false

# break
BreakConstructorInitializers: BeforeComma

# Penalties
PenaltyBreakOpenParenthesis: 21
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakAssignment: 19
